{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Viewer</title>
</head>
<body>
    <h1>{{ request.user }}</h1>
    {% block content %}
    <button id="addroom">Створити</button>|<button id="joinroom">Доєднатись</button>
    <div style="position: absolute; margin-left: 500px; color: red;">
        {% if status == "error_create" %}
            Увійдіть в акаунт щоб створити кімнату!
        {% elif status == "error_find" %}
            Кімнати з таким кодом не існує!
        {% endif %}
    </div>
    <div class="form form1" id="make_form">
        <button class="close">Close</button>
        <form class="formfill" method="POST">
            {% csrf_token %}
            <div class="text">Назва: </div><input type="text" name="newname">
            <div class="text">Урл відео: </div><input type="text" name="newurl">
            <input type="submit">
        </form>
    </div>
    <div class="form form2" id="join_form">
        <button class="close">Close</button>
        <form class="formfill" method="POST">
            {% csrf_token %}
            <div class="text">Код: </div><input type="text" name="oldcode">
            <input type="submit">
        </form>
    </div>
    {% endblock %}
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>