.form{
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    position: absolute;
    left: 120px;
    top: 120px;
    display: flex;
    flex-direction: column;

}

.form1{
    display: none;
}

.form2{
    display: none;
}

.close{
    position: absolute;
    right: 5px;
    width: 50px;
    margin-bottom: 5px;
}

.form .formfill{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

.text{
    margin-top: 5px;
}