.info{
    font-size: 24px;
}

.videochat{
    display: flex;
    gap: 250px;
}

.chat{
    border: 1px solid black;
    padding: 10px;
}

.messages{

}

.message{

}

.input_message{

}

.send_message{

}